<div class="container">
<h1>Calcula a média de uma disciplina</h1>
<form>
<div class="card">
    <div>
        <label for="">Bim 1</label>
        <input id="b1" type="number" #b1>
    </div>
    <div>
        <label for="">Bim 2</label>
        <input id="b2" type="number" #b2>
    </div>
    <div>
        <label for="">Bim 3</label>
        <input id="b3" type="number" #b3>
    </div>
    <div>
        <label for="">Bim 4</label>
        <input id="b4" type="number" #b4>
    </div>
    <div class="botao">
        <input type="button" value="Calcular"
                (click)="calcularMediaParcial(+b1.value, +b2.value,
                +b3.value, +b4.value)">
    </div>
</div>
</form>

@if ( mediaParcial && mediaParcial  < 60) {
<form class="form-final">
<div class="card">
    <div>
       <label for="">Nota da Avaliação Final</label>
        <input id="Fn" type="number" #Fn>
    </div>
    
    <div class="botao">
        <input type="button" value="Calcular"
                (click)="calcularMediaFinal(+Fn.value)">
    </div>
</div>
</form>
}

@if (mediaParcial) {
<div>
    <p>Média parcial = {{mediaParcial}}</p>

</div>
}

@if (mediaFinal) {
<div>
    <p>Média final = {{ mediaFinal }}</p>
    <p>Situação = {{ situacao }}</p>
</div>
} 

@if (situacao) {
<div>
    <p>Situação = {{ situacao }}</p>
</div>
}
</div>