* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.container {
    background: rgba(100, 95, 95, 0.253);
    height: 100vh;
    display: flex;
    align-items: center;
}

.card {
    width: 700px;
    margin: auto;
    padding: 25px;
    background-color: rgb(200, 214, 245);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(111, 89, 196, 0.829);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 28px;
}

label {
    color: #0e0d0d;
    font-weight: bold;
}

input[type="number"] {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
}

input[type="number"]:focus {
    border-color: #7c3aed;
    box-shadow: 0 0 8px rgba(124, 58, 237, 0.3);
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

